<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Zac's Automated Lab</h1>
    <p>Welcome to the future of DevOps, Ahnaf24051130051!</p>
  </body>
</html>
